.user-board {
    width: 400px;
}

.mouse-pointer {
    cursor: pointer;
}

.my-title {
    position: relative;
    right: -100px;
    transition: all 500ms;
}

.my-title::after {
    content: "app";
    position: relative;
    left: -100px;
    opacity: 0;
    transition: all 350ms;
}

.my-title:hover {
    right: 0px;
    cursor: pointer;
}

.my-title:hover::after {
    opacity: 1;
    left: 50px;
}